<form method="post" class="card p-3 | account-card" hx-post="{% url 'reset_password' %}" hx-boost="true" hx-target="#modal-target" hx-push-url="false">
  <div class="card-body d-flex flex-column justify-content-between">
    <div class="mb-2">
      <h4 class="card-title fw-semibold text-start text-sm-start">Forgot your password?</h4>
    </div>
    <div class="mb-4">
      <p class="card-text text-subtle text-start text-sm-start mb-4 mb-sm-4 lh-sm">Enter your email address below, and we'll email instructions for setting a new one.</p>
      <div class="form-floating">
        <input type="text" class="form-control shadow-none" id="{{ form.email.id_for_label }}" placeholder="example@domain.com" name="{{ form.email.name }}" required>
        <label for="{{ form.email.id_for_label }}">Email</label>
      </div>

      {% if form.email.errors %}
        <div class="form-text text-danger">
          {% for error in form.email.errors %}
            {{ error }}
          {% endfor %}
        </div>
      {% endif %}
      {% if form.non_field_errors %}
        <div class="form-text text-danger mb-4 text-center">
          {% for error in form.non_field_errors %}
            {{ error }}
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <div class="d-flex flex-column-reverse flex-sm-row justify-content-sm-end align-items-center gap-3">
      <a class="link link-clr-secondary" data-bs-dismiss="modal">Cancel</a>
      <button class="btn btn-primary mobile-fullwidth" type="submit">Send Email</button>
    </div>
  </div>
</form>