<div class="card p-3 | account-card">
  <div class="card-body d-flex flex-column justify-content-between">
    <div class="mb-3">
      <h4 class="card-title text-start">Check your inbox</h4>
    </div>

    <div class="mb-3">
      <p class="small mb-3 text-start lh-sm">We've emailed you instructions for resetting your password. You should receive it shortly!</p>
      <p class="small text-start lh-sm mb-0">
        If it doesn't show up, <span class="color-primary">make sure to check your spam folder</span>, as your email provider may have sent it there.
      </p>
    </div>
    <a class="link link-clr-secondary justify-self-end text-end" data-bs-dismiss="modal">Dismiss</a>
  </div>
</div>