{% if validlink %}
  <form method="post" class="card p-3 border mobile-no-border shadow-sm mobile-no-shadow w-100 account-card">
    {% csrf_token %}
    <div class="card-body d-flex flex-column justify-content-between">
      <div class="mb-4">
        <h4 class="card-title text-start text-sm-start">Set new password</h4>
      </div>
      <div class="mb-4">
        <ul class="text-body-secondary mb-4 mb-sm-4">
          <li><small>Your password can’t be too similar to your other personal information.</small></li>
          <li><small>Your password must contain at least 8 characters.</small></li>
          <li><small>Your password can’t be a commonly used password.</small></li>
          <li><small>Your password can’t be entirely numeric.</small></li>
        </ul>
        {% if form.new_password2.errors %}
          <div class="form-text text-danger mb-2">
            {% for error in form.new_password2.errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% endif %}
        <div class="form-floating mb-2">
          <input type="password" class="form-control m-0 shadow-none" id="{{ form.new_password1.id_for_label }}" name="{{ form.new_password1.name }}" required
                 placeholder="New Password">
          <label for="{{ form.new_password1.id_for_label }}">New Password</label>
        </div>
        <div class="form-floating mb-4">
          <input type="password" class="form-control mb-0 shadow-none" id="{{ form.new_password2.id_for_label }}" name="{{ form.new_password2.name }}" required
                 placeholder="Confirm Password">
          <label for="{{ form.new_password2.id_for_label }}">Confirm Password</label>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button class="btn btn-primary btn mobile-fullwidth" type="submit">Save Password</button>
      </div>
    </div>
  </form>
{% else %}
  <p class="p-4 text-center">
    The password reset link was invalid, possibly because it has already been used. <a href="{% url 'reset_password' %}">Please request a new password reset.</a>
  </p>
{% endif %}