{% extends 'accounts/accounts_base.html' %}
{% load static %}

{% block title %}Reset Complete{% endblock %}

{% block meta %}
  <meta http-equiv="Refresh" content="3 url='{% url 'login' %}'"/>
{% endblock %}

{% block content %}
  <div class="card p-3 border mobile-no-border shadow-sm mobile-no-shadow w-100 account-card">
    <div class="card-body d-flex flex-column justify-content-between">
      <div class="mb-4">
        <h4 class="card-title text-start text-sm-start">Password reset complete</h4>
      </div>
      <p class="mb-4 text-start">Your password has been changed successfully. Please wait, you will be redirected shortly.</p>
      <div class="d-flex flex-column align-items-center">
        <div class="progress w-100" role="progressbar" style="height: 0.75rem">
          <div class="progress-bar bg-primary w-0" id="p-bar"></div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}


{% block js %}
  <script>document.addEventListener('DOMContentLoaded', () => BeginPBarIncrement({elementId: 'p-bar', duration: 3000}));</script>
{% endblock %}